@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{margin: 0;padding: 0;}

body{
    font-family: 'Roboto', sans-serif;
}

.top-banner{
    background-image: url("../images/header-bg.png");
    height: 1100px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.intro{
    
margin-top: 138px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 7%;
    margin-top: 111px;
}

.half-width img{
    width: 100%;
}

p{
    text-align: justify;
}

h2{font-size: 35px;font-weight: 500;}

h1{
font-weight: bolder;
font-size: 50px;
color: #f92178;
}

.link-button{
    
background-color: #F92178;
    
text-decoration: none;
    
color: white;
    
padding: 10px 20px;
    
border-radius: 4px;
    
border: none;
    
font-size: 20px;
    
font-weight: 700;
    
line-height: 75px;
}
.biography{
    background-image: url("../images/biography-bg.png");
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.latest-work{
    background-image: url("../images/latest-work-bg.png");
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.footer{
    background-image: url("../images/footer-bg.png");
    height: 1100px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
